body {
    background: #ecedf3;
}

%tab {
    &[data-open="true"] {
        opacity: 1;
        visibility: visible;
    }
    &[data-open="false"] {
        opacity: 0;
        visibility: hidden;
    }
    transition: all 0.3s ease;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
    background-color: white;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.40);
    &:before {
        content: "";
        position: absolute;
        top: -6px;
        left: 50%;
        transform: translate(-50%);
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 6px solid white;
    }
}

@mixin hoverable($color: white) {
    cursor: pointer;
    &:hover {
        color: $color;
    }
}

@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
