.nav-item-profile {
  height: 100%;
  line-height: 100%;
  span {
    padding: 0 8px;
    cursor: pointer;
  }
  .profile-rules {
    margin: 0px;
    color: #666;
  }
  .sign-in, .sign-up {
    height: 100%;
    line-height: 60px;
    display: inline-block;
  }
  .sign-in {
    color: #3399FF;
    &:hover {
      color: #59ACFF;
    }
  }
  .sign-up {
    &:hover {
      color: #fff;
    }
  }
}
