.nav-item-weex {
    float: left;
    .hoverable-name {
        font-size: 14px;
    }
    .weex-tab {
        width: 440px;
        height: 240px;
        .tabs-nav-container {
            padding: 0 37px;
            height: 41px;
        }
    }
}
