.header-nav {
    * {
        box-sizing: border-box;
    }
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
    position: relative;
    background: rgba(38,47,56,0.92);
    font-size: 14px;
    color: #AAAAAA;
    height: 60px;
    white-space: nowrap;
    ul, ul li {
        list-style: none;
    }
    img {
        max-height: 100%;
        max-width: 100%;
    }
    a {
        text-decoration: none;
        color: currentColor;
    }
    .nav-main, .nav-logo, .nav-rest, .nav-widget {
        height: 100%;
        display: inline-block;
        vertical-align: middle;
    }
}
