@import "~#/styles/index.scss";

.nav-item-live {
    .hoverable-name {
        font-size: 14px;
    }
    .live-tab {
        width: 440px;
        height: 240px;
        .tabs-nav-container {
            padding: 0 37px;
            height: 41px;
        }
    }
}
