.nav-item-live {
    position: relative;
    height: 100%;
    text-align: center;
    > div {
        text-align: initial;
    }
    > span {
        cursor: pointer;
        vertical-align: middle;
        font-size: 14px;
        &:hover {
            color: white;
        }
    }
    &:after {
        content: "";
        height: 100%;
        vertical-align: middle;
        display: inline-block;
    }
    .live-tab {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%);
        visibility: hidden;
        opacity: 0;
        &[data-open="true"] {
            visibility: visible;
            opacity: 1;
        }
        width: 440px;
        height: 240px;
        transition: all 0.3s;
        > .tabs {
            height: 100%;
            .tabs-nav-container {
                padding: 0 37px;
                height: 41px;
            }
        }
    }
}
