@import "~#/styles/index.scss";

.nav-item-discussions {
    position: relative;
    height: 100%;
    .hoverable-name {
        font-size: 14px;
    }
    .nav-discussion-container {
        padding: 20px 0 20px 20px;
        white-space: nowrap;
    }

}
