.nav-item-news {
    position: relative;
    height: 100%;
    display: table;
    text-align: center;
    > span {
        cursor: pointer;
        vertical-align: middle;
        display: table-cell;
        font-size: 14px;
        &:hover {
            color: white;
        }
    }
    .news-tab {
        display: none;
        &[data-open="true"] {
            display: block;
        }
        width: 380px;
        height: 240px;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%);
        > .tabs {
            height: 100%;
            .tabs-nav-container {
                padding: 0 37px;
                height: 41px;
            }
        }
    }
}