.nav-item-news {
    position: relative;
    height: 100%;
    display: table;
    text-align: center;
    > span {
        cursor: pointer;
        vertical-align: middle;
        display: table-cell;
        font-size: 14px;
        &:hover {
            color: white;
        }
    }
    .news-tab {
        visibility: hidden;
        opacity: 0;
        &[data-open="true"] {
            visibility: visible;
            opacity: 1;
        }
        width: 380px;
        height: 240px;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%);
        transition: all 0.3s;
        > .tabs {
            height: 100%;
            .tabs-nav-container {
                padding: 0 37px;
                height: 41px;
            }
        }
    }
}