.nav-loading-item {
  display: block;
  margin: 0 auto;
  padding: 60px 0;
  min-width: 400px;
  text-align: center;
  #lash{
    animation-name: flash;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-fill-mode: both;
  }
}

@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}
