.nav-rest {
    > div {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
    .content {
        position: relative;
        .hoverable {
            height: 100%;
        }
        .foldable-content {
            height: 100%;
            white-space: nowrap;
            > div {
                white-space: normal;
                display: inline-block;
            }
        }
    }
}
