.live-card {
    border-bottom: 1px solid #EBEBEB;
    position: relative;
    color: #282828;
    .live-card-time {
        width: 65px;
        background-color: #F6F6F6;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        padding: 16px;
        box-sizing: border-box;
    }
    .live-card-title {
        margin-left: 65px;
        padding: 12px;
        color: #282828;
        line-height: (21 / 13);
      &:hover {
        color: #1482f0;
      }
    }
}
